*{
    padding: 0;
    margin: 0;
    font-family: "Noto Serif TC", serif;
    font-weight: 700;
    font-style: normal;
}
/* 導覽列 */
header{
    background-color:#32394b;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1050;
}
header ul{
    position: absolute;
    right: 25px;
    top: 10px;
    line-height: 50px;
   /* 表單導引列動畫背景大小問題 */
}
header li{
    display:inline;
    margin-right: 5vw;
}
header a{
    color: #f0f8ff;
    font-size:20px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    transition: all .3s linear;
    padding: 5px;
}
header a:hover{
    color: #f0f8ff;
    width: 150px 200px;
    transform: scale(1.2);
    border-radius: 20px;
    color: black;
    background-color:#7b7c90;
}
h1{
    color:hsl(0, 0%, 100%);
    position: absolute;
    left:120px;
    top: 0;
    line-height: 80px;
    background-image: url(images/LOGO.png);
    background-repeat: no-repeat;
    background-position:90px;
    width: 200px;
    background-size: 50%;
    text-indent: -99px;
}
/* 時間表 */
main{
    background-color: #847a6d;
}
.photo{
    height: 165vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.photo h2{
    font-size: 75px;
    padding: 0 20px;
    margin-bottom: 25px;
    position: absolute;
    z-index: 1020;
    top: 15%;
    text-transform: uppercase;
}
.photo h2:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    white-space: nowrap;
    margin: 0 20px;
    color: #000000;
    overflow: hidden;
    transition: 0.5s;
}
.photo h2:hover:before{
    width: 100%;
}
.photo h2:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c0b48b;
    border-radius: 15px;
    transition: 0.5s;
    transform: scaleX(0);
    transition-delay: 0.5s;
    transform-origin: right;
    z-index: -1;
}
.photo h2:hover:after{
    width: 100%;
    transform: scaleX(1);
}
.w{
    font-size:28px;
    border: 2px solid #58472d;
    border-radius: 10px;
    background-color: #60503d;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    overflow: hidden; /*unknow  */
    animation: reveal 2s linear forwards;
    z-index: 1010;
}
.w p{
    margin: 0;
    padding: 0;
    text-transform: uppercase;

}
@keyframes reveal{
    0%
    {
        width: 0px;
        height: 0px;
    }
    30%
    {
        width: 780px;
        height: 0px;
    }       
    45%
    {
        width: 780px;
        height: 60px;
    }
    60%
    {
        width: 780px;
        height: 70px;
    }
    80%
    {
        width: 780px;
        height: 90px;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, .3);
    }
    100%
    {
        width: 780px;
        height: 90px;
        box-shadow: 0px 2px 0px rgba(0, 0, 0, .3);
    }
}
.photo img{
    width: 150vh;
    border-radius: 15px;
    margin-bottom: 30px;
    position: absolute;
    top: 52%;
}

/* 尾頁 */
footer{
    background-color:#45433e;
    color: #ffffff;
    height:20vh;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    font-family: "Noto Serif TC", serif;
    font-weight: 700;
    font-style: normal;
}